//Path changed for new file path
@require '../../lib/vars.styl'

.page
  padding 20px

.hl
  font-weight bold
  color react-blue

.siteTitle
  display flex
  align-items center

  +below(420px)
    display block

  img
    display inline-block
    width 80px
    height 80px
    margin-right 20px

    +below(420px)
      display block
      margin 0 auto
